In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'2.2.3'

In [3]:
!pwd

/home/joviedo/data-engineering-zoomcamp/w1/notebooks

In [4]:
df = pd.read_csv('../data/yellow_tripdata_2021-01.csv', nrows=100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    datetime64[ns]
 2   tpep_dropoff_datetime  100 non-null    datetime64[ns]
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 14.2+ KB

In [9]:
engine = create_engine("postgresql://w1dataengi:w1d%40taengi@localhost:5432/ny_taxi")

In [10]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv('../data/yellow_tripdata_2021-01.csv', dtype={'RatecodeID': str}, iterator=True, chunksize=100000)

In [12]:
df = next(df_iter)

In [13]:
len(df)

100000

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
df.head(n=25)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.00,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.00,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.00,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.00,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.00,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.00,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.00,0.3,18.95,2.5
10,2,2021-01-01 00:15:52,2021-01-01 00:38:07,3,6.11,1,N,164,255,1,20.5,0.5,0.5,0.00,0.00,0.3,24.30,2.5
11,2,2021-01-01 00:46:36,2021-01-01 00:53:45,2,1.21,1,N,255,80,1,7.0,0.5,0.5,2.49,0.00,0.3,10.79,0.0
12,1,2021-01-01 00:10:46,2021-01-01 00:32:58,2,7.40,1,N,138,166,2,24.5,2.5,0.5,0.00,6.12,0.3,33.92,0.0
13,2,2021-01-01 00:31:06,2021-01-01 00:38:52,5,1.70,1,N,142,50,1,8.0,0.5,0.5,2.36,0.00,0.3,14.16,2.5
14,2,2021-01-01 00:42:11,2021-01-01 00:44:24,5,0.81,1,N,50,142,2,4.5,0.5,0.5,0.00,0.00,0.3,8.30,2.5
15,2,2021-01-01 00:17:48,2021-01-01 00:21:55,1,1.01,1,N,236,237,1,5.5,0.5,0.5,1.00,0.00,0.3,10.30,2.5
16,2,2021-01-01 00:33:38,2021-01-01 00:38:37,1,0.73,1,N,142,239,1,5.5,0.5,0.5,2.79,0.00,0.3,12.09,2.5
17,2,2021-01-01 00:47:56,2021-01-01 00:52:53,1,1.17,1,N,238,166,1,6.5,0.5,0.5,2.06,0.00,0.3,12.36,2.5
18,2,2021-01-01 00:04:21,2021-01-01 00:07:58,1,0.78,1,N,239,238,1,4.5,0.5,0.5,1.66,0.00,0.3,9.96,2.5
19,2,2021-01-01 00:18:36,2021-01-01 00:27:10,2,1.66,1,N,151,142,2,8.5,0.5,0.5,0.00,0.00,0.3,12.30,2.5
20,2,2021-01-01 00:43:41,2021-01-01 00:48:17,3,0.93,1,N,239,142,2,5.5,0.5,0.5,0.00,0.00,0.3,9.30,2.5
21,2,2021-01-01 00:56:30,2021-01-01 01:02:03,2,1.16,1,N,238,142,1,6.5,0.5,0.5,1.54,0.00,0.3,11.84,2.5
22,1,2021-01-01 00:16:27,2021-01-01 00:25:36,0,2.20,1,N,249,137,3,9.0,3.0,0.5,0.00,0.00,0.3,12.80,2.5
23,1,2021-01-01 00:37:59,2021-01-01 01:01:37,0,3.60,1,N,107,163,1,17.0,3.0,0.5,10.00,0.00,0.3,30.80,2.5
24,1,2021-01-01 00:37:40,2021-01-01 01:04:46,2,19.10,1,N,132,3,2,52.0,0.5,0.5,0.00,6.12,0.3,59.42,0.0

In [16]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [17]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.53 s, sys: 154 ms, total: 5.69 s
Wall time: 8.91 s

1000

In [ ]:
for iter in df_iter: 
    t_start = time()
    
    df = iter
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print(f'Bloque de datos insertados en {(t_end - t_start):.3f} segundos')

Bloque de datos insertados en 9.683 segundos
Bloque de datos insertados en 7.721 segundos
Bloque de datos insertados en 7.597 segundos
Bloque de datos insertados en 8.951 segundos
Bloque de datos insertados en 9.352 segundos
Bloque de datos insertados en 8.763 segundos
Bloque de datos insertados en 8.044 segundos
Bloque de datos insertados en 8.532 segundos
Bloque de datos insertados en 9.510 segundos
Bloque de datos insertados en 8.526 segundos